<div class="flex flex-wrap -mx-3">
  <div class="max-w-full px-3 lg:w-2/3 lg:flex-none">
    <div class="flex flex-wrap -mx-3">

      <div class="max-w-full px-3 mb-6 lg:mb-0 lg:w-full lg:flex-none">
        <div
          class="relative flex flex-col min-w-0 mt-6 break-words bg-white border-0 border-transparent border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
        >
          <div
            class="p-4 pb-0 mb-0 border-b-0 border-b-solid rounded-t-2xl border-b-transparent"
          >
            <div class="flex flex-wrap -mx-3">
              <div class="flex items-center flex-none w-1/2 max-w-full px-3">
                <h6 class="mb-0 dark:text-white">Review For</h6>
              </div>
              <div class="flex-none w-1/2 max-w-full px-3 text-right">
                <a
                  class="inline-block px-5 py-2.5 font-bold leading-normal text-center text-white align-middle transition-all bg-transparent rounded-lg cursor-pointer text-sm ease-in shadow-md bg-150 bg-gradient-to-tl from-zinc-800 to-zinc-700 dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 hover:shadow-xs active:opacity-85 hover:-translate-y-px tracking-tight-rem bg-x-25"
                  href="/borrowbooks"
                > &nbsp;&nbsp; Go Back</a>
              </div>
            </div>
          </div>
          <div class="flex-auto p-4">
            <div class="flex flex-wrap -mx-3">
              <div class="max-w-full px-3 mb-6 md:mb-0 md:w-1/2 md:flex-none">
                <div
                  class="relative flex flex-row items-center flex-auto min-w-0 p-6 break-words bg-transparent border border-solid shadow-none md-max:overflow-auto rounded-xl border-slate-100 dark:border-slate-700 bg-clip-border"
                >
                  <img
                    class="mb-0 mr-4 w-1/10"
                    src="/uploads/{{book.coverimage}}"
                    alt="logo"
                  />
                  <h6 class="mb-0 dark:text-white">
                    {{book.title}}
                  </h6>

                  <div
                    data-target="tooltip"
                    class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg"
                  >
                    Edit Card
                    <div
                      class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']"
                      data-popper-arrow
                    ></div>
                  </div>
                </div>
              </div>
              <div class="max-w-full px-3 md:w-1/2 md:flex-none">
                <div
                  class="relative flex flex-row items-center flex-auto min-w-0 p-6 break-words bg-transparent border border-solid shadow-none md-max:overflow-auto rounded-xl border-slate-100 dark:border-slate-700 bg-clip-border"
                >

                  <h6 class="mb-0 dark:text-white">
                    Total Reviews :
                    {{book.totalReviews}}
                  </h6>

                  <div
                    data-target="tooltip"
                    class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg"
                  >
                    Edit Card
                    <div
                      class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']"
                      data-popper-arrow
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 lg:w-1/3 lg:flex-none">

  </div>
</div>

<div class="flex flex-wrap -mx-3">
  <div class="w-full max-w-full px-3 mt-6 md:w-7/12 md:flex-none">
    <div
      class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
    >
      <div class="p-6 px-4 pb-0 mb-0 border-b-0 rounded-t-2xl">
        <h6 class="mb-0 dark:text-white">Reviews </h6>
      </div>
      <div class="flex-auto p-4 pt-6">
        <ul class="flex flex-col pl-0 mb-0 rounded-lg">
          {{#if reviews.length}}
            {{#each reviews}}
              <li
                class="relative flex p-6 mb-2 border-0 rounded-t-inherit rounded-xl bg-gray-50 dark:bg-slate-850"
              >
                <div class="flex flex-col">
                  <h6
                    class="mb-4 text-sm leading-normal dark:text-white"
                  >{{user.name.firstname}} {{user.name.lastname}}</h6>
                  <span
                    class="mb-2 text-xs leading-tight dark:text-white/80"
                  >Email:
                    <span
                      class="font-semibold text-slate-700 dark:text-white sm:ml-2"
                    >{{user.email}}</span></span>
                  <span
                    class="mb-2 text-xs leading-tight dark:text-white/80"
                  >Review:
                    <span
                      class="font-semibold text-slate-700 dark:text-white sm:ml-2"
                    >{{this.rating}}</span></span>
                  <span
                    class="text-xs leading-tight dark:text-white/80"
                  >Description:
                    <span
                      class="font-semibold text-slate-700 dark:text-white sm:ml-2"
                    >{{this.comment}}</span></span>
                </div>

              </li>
            {{/each}}
          {{else}}
            <li
              class="relative flex p-6 mb-2 border-0 rounded-t-inherit rounded-xl bg-gray-50 dark:bg-slate-850"
            >
              <div class="flex flex-col">
                <h6 class="mb-4 text-sm leading-normal dark:text-white">No
                  reviews found for this book.</h6>
              </div>
            </li>
          {{/if}}

        </ul>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mt-6 md:w-5/12 md:flex-none">

  </div>
</div>