<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png" />
  <link rel="icon" type="image/png" href="/static/assets/img/favicon.png" />
  <title>User Dashboard | VaultRead</title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  {{!-- <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script> --}}
  <!-- Nucleo Icons -->
  <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Popper -->
  <script src="https://unpkg.com/@popperjs/core@2"></script>

  {{!-- chart --}}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Main Styling --> 
  <link href="/static/assets/css/argon-dashboard-tailwind.css?v=1.0.1" rel="stylesheet" />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/assets/css/loader.css" />
  <link rel="stylesheet" href="/static/assets/css/flashes.css" />
  <link rel="stylesheet" href="/static/assets/css/books.css" />

  <style>

    .cardimage {
      background-image: url('/static/assets/img/dashboard-card.png');

    }

    #reviewModal .fa-star.selected {
      color: orange;
    }

    #reviewModal .modal-content {
      position: relative;
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #6b7280;
      /* Tailwind gray-500 */
      font-size: 1.25rem;
      cursor: pointer;
      transition: color 0.3s;
    }

    .close-btn:hover {
      color: #000;
    }

    .submit-btn {
      background-color: #3b82f6;
      /* Blue-500 */
      color: white;
      padding: 10px 20px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      font-weight: 600;
      transition: background-color 0.3s;
      margin-top: 1rem;
    }

    .submit-btn:hover {
      background-color: #2563eb;
      /* Blue-600 */
    }
  </style>
</head>

<body
  class="m-0 font-sans text-base antialiased font-normal dark:bg-slate-900 leading-default bg-gray-50 text-slate-500">
  {{#if (equal active 'profile')}}
    <div class="absolute bg-y-50 w-full top-0 bg-[url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/profile-layout-header.jpg')] min-h-75">
      <span class="absolute top-0 left-0 w-full h-full bg-blue-500 opacity-60"></span>
    </div>
  {{else}}
  <div class="absolute w-full bg-blue-500 dark:hidden min-h-75"></div>
  {{/if}}

  {{> messages}}

  {{> loader}}

  <!-- sidenav  -->
  {{> usersidenav}} }}
  <!-- end sidenav -->

  <main class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68 rounded-xl">
    <!-- Navbar -->
    {{> navbar}}
    <!-- end Navbar -->


{{!-- if profile router is active --}}
{{#if (equal active 'profile') }}
  <div class="relative w-full mx-auto mt-60 ">
        
        <div class="relative flex flex-col flex-auto min-w-0 p-4 mx-6 overflow-hidden break-words bg-white border-0 dark:bg-slate-850 dark:shadow-dark-xl shadow-3xl rounded-2xl bg-clip-border">
          <div class="flex flex-wrap -mx-3">
            <div class="flex-none w-auto max-w-full px-3">
              <div class="relative inline-flex items-center justify-center text-white transition-all duration-200 ease-in-out text-base h-19 w-19 rounded-xl">
                <img src="{{user.avatar}}" alt="profile_image" class="w-full shadow-2xl rounded-xl" />
              </div>
            </div>
            <div class="flex-none w-auto max-w-full px-3 my-auto">
              <div class="h-full">
                <h5 class="mb-1 dark:text-white">{{user.name.firstname}} {{user.name.lastname}}</h5>
                <p class="mb-0 font-semibold leading-normal dark:text-white dark:opacity-60 text-sm">Student</p>
              </div>
            </div>
            <div class="w-full max-w-full px-3 mx-auto mt-4 sm:my-auto sm:mr-0 md:w-1/2 md:flex-none lg:w-4/12">
              
            </div>
          </div>
        </div>
      </div>
{{/if}}
   
    <div class="w-full p-6 mx-auto">
    <!-- main content -->
    {{{body}}}
    <!-- end  -->
    {{>footer}}
    </div>
  </main>
  <script src="/static/assets/js/flashes.js"></script>
  <script src="/static/assets/js/reviewmod.js"></script>
  <script src="/static/assets/js/charts.js"></script>
  <script src="/static/assets/js/dashboard.js"></script>
   <!-- plugin for scrollbar  -->
  <!-- main script file  -->
  <script src="/static/assets/js/argon-dashboard-tailwind.js?v=1.0.1" async></script>
   


</body>


</html>